.challenge {
  max-width: 90%;
  margin: 32px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.challenge h2 {
  color: #0984e3;
}

.challenge p {
  font-size: 18px;
  line-height: 28px;
  color: #9095a1;
}

.challenge-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  gap: 16px;
}

@media (min-width: 600px) {
  .challenge-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
}

/* Cards */
.challenge-card {
  width: 80%;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  gap: 8px;
}

@media (min-width: 600px) {
  .challenge-card {
    max-width: 250px;
  }
}

.challenge-card__img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.challenge-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 8px;
}

.challenge-card h4 {
  font-size: 18px;
  font-weight: 800;
  line-height: 28px;
  color: #000000;
}

.challenge-card h5 {
  font-size: 18px;
  font-weight: 600;
  color: #054272;
}

.challenge-card p {
  font-size: 16px;
  line-height: 26px;
  color: #9095A1;
  text-align: center;
}

.challenge-card i {
  font-size: 16px;
  color: #255ABB;
}