body {
  background: #f8f9faff;
}
h1 {
  color: #fbc02dff;
  font-family: Poppins;
  font-size: 56px;
  padding: 12px 4px;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  font-family: Manrope;
  color: #9095a1ff;
  padding: 4px 4px 38px;
}

.heroButtons {
  display: flex;
  justify-content: space-evenly;
}

.contactBtn {
  font-family: Manrope;
  font-size: 18px;
  border: 1px;
  border-radius: 6px;
  color: #fbc02dff;
  background: #f8f9faff;
}

.contactBtn:hover {
  background-color: #fbc02dff;
  color: #624702ff;
}
aside {
  position: relative;
  margin: 30px;
}
.blob {
  position: absolute;
  z-index: -9;
  width: 100%;
}
