//colors
$primary:#000000FF;
$secondary: #565D6DFF;
$active: #0984E3FF;
$downloadin: #FFFFFFFF;
$downloadout:#086AB5FF;

//spacing 
$base-margin:2px;
$base-margin:2px;

//border
$base-border:2px;

//box-shadow
$base-box-shadow:1px 3px 5px rgba(0,0,0,0.1);

//font size
$base-font-size:1rem; 