.about {
  max-width: 90%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  padding: 8px 12px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 28px;
  color: #9095a1;
}

.about h2 {
  color: #0984e3;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px
}

.icons i {
  font-size: 64px;
}