.about p{
    padding: 8px 12px;
    margin-left: 12px;
    font-family: Manrope; 
    font-size: 18px; 
    line-height: 28px; 
    color: #9095A1FF;
}

.about h2{
    font-family: Poppins;
    font-size: 48px; 
    line-height: 68px; 
    color: #0984E3FF;;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons{
    padding: 4px 16px;
    font-size: 5rem;
    display: flex;
}
/* MaterialUI icon was too close to the others */
.devicon-materialui-plain{
    padding: 4px;
}
