.navBar {
  display: flex;
  height: 64px;
  background: #f3f4f6ff;
  border-radius: 6px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navItems {
  display: flex;
  align-items: center;
}

.navLink {
  align-items: center;
  font-family: Manrope;
  font-size: 14px;
  line-height: 22px;
  opacity: 1;
  padding: 0px 6px 0px;
}

.navLink.selected {
  color: #fbc02dff;
}
.navLink:active {
  color: #fbc02dff;
}
.navLink:hover {
  color: #624702ff;
}
