.nav-bar {
  padding: 0 32px;
  display: flex;
  height: 64px;
  background: #000000;
  border-radius: 6px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: none;
}

@media (min-width: 560px) {
  .nav-items {
    display: flex;
    background: #000000;
    align-items: center;
  }
}

.nav-link {
  align-items: center;
  font-size: 14px;
  opacity: 1;
  padding: 8px 16px;
}

a, .nav-link {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}