
.navBar{
  display: flex;
  height: 64px;
  background: #000000FF;
  border-radius: 6px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.navItems{
  display: flex;
  background: #000000FF ;
  align-items: center;
}

.navLink{ 
  align-items: center; 
  font-family: Manrope; 
  font-size: 14px; 
  line-height: 22px; 
  opacity: 1;
  padding: 0px 6px 0px;
}


