.cv {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  font-size: 14px;
  line-height: 22px;
  color: #624702ff;
  background: #fbc02dff;
  opacity: 1;
  border: 1px;
  border-radius: 6px;
  padding: 0px 12px;
}

.cv:hover {
  color: #624702ff;
  background: #e2a305ff;
}

.cv:hover:active {
  color: #624702ff;
  background: #c28c04ff;
}

.icon {
  padding: 0px 8px;
}
