
.cv{
  position: absolute; 
  top: 14px; 
  left: 1181px; 
  height: 36px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: Manrope; /* Body */
  font-size: 14px; 
  line-height: 22px; 
  color: #624702FF; 
  background: #FBC02DFF; 
  opacity: 1; 
  border: none; 
  border-radius: 6px; /* border-m */
  gap: 6px; 
  }

.cv:hover{
    color: #624702FF; 
    background: #E2A305FF;
}

.cv:hover:active {
    color: #624702FF; 
    background: #C28C04FF; 
  }