.cv {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  background: #0984e3;
  border: 1px solid #0984e3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cv:hover {
  color: #ffffff;
  background: #0877cb;
  transition: 0.5s;
}

.cv:active {
  color: #ffffff;
  background: #086ab5;
}